<div class="inner clr">

	<div class="breadcrumbs">
		{% set breadcrumbs = breadcrumb(post) %} {% for name, url in
		breadcrumbs %} <a href="{{url(url)}}">{{name}}</a>&gt; {% endfor %} 正文
	</div>

	<div class="article-left left">
		<div class="pageTop">
			<h1>{{ post.title }}</h1>
		</div>
		<!-- pageTop END-->
		<div class="pageInfo clr">
			<div class="pi-author">
				<span>{{ post.published_at|date("Y-m-d") }}</span> <span>{{
					post.published_at|date("h:i") }}</span> <i style="color: #FD5D3C;">原创</i>
				<a href="{{ entityToUrl(post.author) }}" target="_blank">{{
					post.author.profile.name }}</a>
			</div>
			<!-- pi-author END -->
			<div class="pi-comment">
				<a href="javascript:void(0);"><span>{{ post.getCommentTotal() }}</span><span>条评论</span></a>
			</div>
			<!-- pi-comment END -->
		</div>
		<!-- pageInfo END -->
		<div class="pageTag">
			<span class="tags">标签：</span>
			<ul>
				{% for tag in post.tags %}
				<li>{{ html.a(tag.name,entityToUrl(tag)) | raw }}</li> {% endfor %}
			</ul>
		</div>
		<!-- pageTag -->
		<div class="pageCont article-comView ">{{ post.content | raw}}</div>
		<div class="pageActive clr">

			<div id="bdshare"
				class="bdshare_t bds_tools get-codes-bdshare baidu-share baidu-share bdsharebuttonbox bdshare-button-style0-16"
				data-bd-bind="1447768730919">

				<a href="#" class="bds_more" data-cmd="more"></a><a href="#"
					class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#"
					class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#"
					class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#"
					class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#"
					class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			</div>
			<script>window._bd_share_config = {
                                        "common": {
                                            "bdSnsKey": {},
                                            "bdText": "",
                                            "bdMini": "2",
                                            "bdMiniList": false,
                                            "bdPic": "",
                                            "bdStyle": "1",
                                            "bdSize": "16"
                                        },
                                        "share": {}
                                    };
                                    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>


		</div>
		<!-- Post Comments -->
		<div class="post-comments">
			<h3 class="animate-onscroll">Comments</h3>
			{{
			call('\\hass\\comment\\widgets\\CommentWidget',"widget",[{"owner":post,"entityClass":"hass\\post\\models\\Post"}])
			}}

		</div>
		<!-- /Post Comments -->
	</div>

	<div class="right">
		<div class="about-author" id="article_author_info">
			<div class="aboutAur-main">
				<div class="aboutAur-mes clr">
					<div class="au-face">
						<a rel="nofollow" href="{{ entityToUrl(post.author) }}"
							target="_blank"> <img src="{{ post.author.getAvatar(100,100) }}"
							alt="{{ post.author.profile.name }}">
						</a> <em class="v"></em>
					</div>
					<div class="aboutAur-name">
						<div class="name">
							<a rel="nofollow" href="{{ entityToUrl(post.author) }}"
								target="_blank">{{ post.author.profile.name }}</a>
						</div>
						<div class="rank">专栏作者</div>
						<div class="ope">

							<a href="javascript:void(0);" class="focus">+关注</a> <a
								href="javascript:;" class="pri-letter">私信</a>

						</div>
					</div>
				</div>
				<div class="atten-area">
					<em class="l-quote"></em> {{ post.author.profile.bio }}<em
						class="r-quote"></em>
				</div>


				<div class="monthHot-artle">
					<div class="tit">
						<span>当月热门文章</span>
					</div>
					<div class="list">
						{% set query = call("\\hass\\post\\models\\Post","find") %} {%
						set posts =
						query.where({"author_id":post.author.id}).orderBy({"views":"desc"}).limit(5).all()
						%}

						<ul>
							{% for post in posts %}
							<li class="{{ loop.first?"first":"" }}"><a
								href="{{ entityToUrl(post) }}" title="{{ post.title }}"
								target="_blank">{{ post.title }}</a></li> {% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>